<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
</head>
<body>
<section class="forms-section">
  <h1 class="section-title">Animated Forms</h1>
  <div class="forms">
    <div class="form-wrapper is-active">
      <button type="button" class="switcher switcher-login" onclick="location.href = '{% url 'login'%}'">
        Login
        <span class="underline"></span>
      </button>
      <form class="form form-login" method="post">
        {% csrf_token %}
        <fieldset>
          <legend>Please, enter your username and password for login.</legend>
          <div class="input-block">
            <label for="login-email">Username</label>
            {{form.username}}
<!--            <input id="login-email" type="email" required>-->
          </div>
          <div class="input-block">
            <label for="login-password">Password</label>
            {{form.password}}
<!--            <input id="login-password" type="password" required>-->
          </div>
        </fieldset>
        <button type="submit" class="btn-login">Login</button>
      </form>
    </div>
    <div class="form-wrapper">
      <button type="button" class="switcher switcher-signup" onclick="location.href = '{% url 'signup'%}'">
        Sign Up
        <span class="underline"></span>
      </button>
      <form class="form form-signup" method="post">
        {% csrf_token %}
        <fieldset>
          <legend>Please, enter your username, password and password confirmation for sign up.</legend>
          <div class="input-block">
            <label for="signup-email">User name</label>
                {{form.username}}
<!--            <input id="signup-email" type="email" required>-->
          </div>
          <div class="input-block">
            <label for="signup-password">Password</label>
            {{form.password1}}
<!--            <input id="signup-password" type="password" required>-->
          </div>
          <div class="input-block">
            <label for="signup-password-confirm">Confirm password</label>
            {{form.password2}}
<!--            <input id="signup-password-confirm" type="password" required>-->
          </div>
        </fieldset>
        <button type="submit" class="btn-signup">Sign Up</button>
      </form>
    </div>
  </div>
  <script src="{% static 'js/login.js'%}"></script>
</section></body>
</html>





<!--<form action="" method="post">-->
<!--    {% csrf_token %}-->
<!--    {{form.as_p}}-->
<!--    <input type="submit" value="Login">-->
<!--</form>-->